@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0;  } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

@-webkit-keyframes fadeUp { from { transform: translate(0%,50%); } to { transform: translate(0%,0%) } }
@-moz-keyframes fadeUp { from { transform: translate(0%,50%); } to { transform: translate(0%,0%) } }
@keyframes fadeUp { from { transform: translate(0%,50%); } to { transform: translate(0%,0%) } }

div {
    h1 {
        color: white;
        opacity: 0;
        animation: fadeUp, fadeIn;
        animation-duration: 2s, 2s; 
        animation-fill-mode: forwards;
    }

    p {
        color: white;
        opacity: 0;
        animation: fadeUp, fadeIn;
        animation-duration: 2s, 3s; 
        animation-delay: 1s;
        animation-fill-mode: forwards;
    }

}

/* @media (max-width: 320px) {
    .element {
          width: 90%;   
         }
} */